/* responsive iframe */
.outerContainer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  /* animated background for loading */
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

.iframeContainer {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
  box-shadow: 0px 5px 5px 0px #00000024;
  border-radius: 0.375rem;
}

.iframeContainer iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .outerContainer {
    max-width: 514px;
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
